<h1>タスク一覧ページ</h1>
  
    <% @mytasks.each do |mytask| %>
      <iframe
        src="https://www.youtube.com/embed/<%= mytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= mytask.description %>
    <% end %></br>
    <%= link_to "アカウント編集", edit_user_registration_path %></br>
    <%= link_to '新しいタスク', new_my_task_path %>