<h1>タスク一覧ページ</h1>
    <%= link_to "アカウント編集", edit_user_registration_path %></br>
    <% @tasks.each do |task| %>
      <iframe
          src="https://www.youtube.com/embed/<%= task.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
          frameborder="0" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
      >
      </iframe>
      <%= task.description %>
    <% end %>
    <%= link_to "アカウント編集", edit_user_registration_path %></br>
