<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link active fa fa-home fa-3x" href="/my_tasks" title="自分のタスク"></a></li>
      <li class="nav-item"><a class="nav-link fa fa-plus-square-o fa-3x" href="/my_tasks/new" title="新しいタスク"></a></li>
      <li class="nav-item"><a class="nav-link fa fa-user-circle-o fa-3x" href="/users/edit" title="アカウント編集"></a></li>
      <li class="nav-item"><a class="nav-link fa fa-users fa-3x" href="/tasks" title="全ユーザーのタスク" ></a></li>
      <li class="nav-item"><a class="nav-link fa fa-folder-open-o fa-3x" href="/folders" title="フォルダ一覧"></a></li>
      <li class="nav-item"><a class="nav-link fa fa-handshake-o fa-3x" href="#" title="フォロワー確認"></a></li>
    </ul>
  </nav>
